<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="refactor_algorithm" name="Refactor Algorithm" schema="schema/refactor_algorithm.exsd"/>
   <extension-point id="analysis_algorithm" name="analysis_algorithm" schema="schema/analysis_algorithm.exsd"/>

    <extension id="Protege Compare View"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Select Ontology for Comparison"/>
        <class value="org.protege.editor.owl.diff.DiffView"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
        <navigates value="@org.protege.classcategory"/>
    </extension>


</plugin>
