<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="refactor_algorithm" name="Refactor Algorithm" schema="schema/refactor_algorithm.exsd"/>
   <extension-point id="analysis_algorithm" name="analysis_algorithm" schema="schema/analysis_algorithm.exsd"/>

    <extension id="Protege Compare View"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Difference list"/>
        <class value="org.protege.editor.owl.diff.ui.view.DiffView"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.differencecategory"/>
    </extension>
    
    <extension id="Unattached Differences View"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Differences with no subject"/>
        <class value="org.protege.editor.owl.diff.ui.view.UnattachedDifferencesView"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.differencecategory"/>
    </extension>    

    <extension id="Missing Refactors View"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Potentially missed alignments"/>
        <class value="org.protege.editor.owl.diff.ui.view.MissingRefactorsView"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.differencecategory"/>
    </extension>
    
    <extension id="DifferenceTable"
         	  name="Ontology Differences Tab"
              point="org.protege.editor.core.application.WorkspaceTab">
      <label value="Ontology Differences"/>
      <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
      <index value="Z"/>
      <editorKitId value="OWLEditorKit"/>
      <defaultViewConfigFileName value="viewconfig.xml"/>
   </extension>

   <extension id="CalculateDifferences"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Compare ontologies"/>
        <class value="org.protege.editor.owl.diff.ui.boot.StartDiff"/>
        <path value="org.protege.editor.owl.menu.tools/SlotM-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

</plugin>
